/* remove a seta no chrome e derivados*/
summary::-webkit-details-marker { 
  display: none; 
}
/*removendo seta no firefox*/
summary {
  display: block;
}
.cursor-click{
  cursor:pointer; 
}
/*limita espaço da busca e botões*/
.content-google{
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  border:3px solid blue;
  margin:auto;
  margin-top:130px;
}
/*logo da google*/
.google {
  width: 272px;
  height: 92px;
  position: relative;
  left: 40px;
}
.busca {
  padding-left:50px;
  height: 45px;
  width: 600px;
  position: relative;
  left:30px; 
  border: solid 1px #d9d9d9;
  border-radius: 25px;
  color:rgba(0,0,0,.87);
  font-size: 16px;
}
/*borda do local de pesquisa*/
.busca:hover {
  border: solid 1px #d9d9d9;
  box-shadow: 1px 1px 2px #d9d9d9;
  box-shadow: 0px 0px 4px #d9d9d9;
}
.lupa { 
  filter:brightness(200%);/*deixando a imagen cinza*/
  height:18px;
  width:18px;
  position:relative;
  top:2px;
  right:560px; 
}
.teclado{
  position:relative;
  right:30px;
}
.botão {
  position: relative;
  margin: 11px 4px;
  padding: 0 16px;
  background-color: #f2f2f2;
  height:35px;
  width:150px;
  border-radius: 5px;
  border:#f2f2f2;
  border-right: #f2f2f2;
  border-bottom: #f2f2f2;
  font-size:15px;
  color: #666666;
  margin-top:30px;
  text-align: center;
  font-family: arial,sans-serif
}
.botão:hover {
  border: solid 1px #a6a6a6;
  box-shadow: 0px 0px 1px;
  color: black;
}
/*posição do menu*/
.summary{
  position: relative;
  top: 20px;
  left: 1250px;
}
/*imagem do menu(quadradinhos)*/
.img{
  height:20px;
  width:20px;
}
.img:hover{
  /*não sei fazer*/
}
.menu{
  position: relative;
  top: 20px;
  left: 1110px;
  border: solid 3px blue;
  height:409px;
  width:315px;
  overflow:auto;
}
.item_menu{
  border: solid 3px blue; 
}
.item_menu:hover{
  border: solid 3px red; 
  border-radius: 10px;
}
.perfil{
  height:32px;
  width:32px;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  left: 1300px; 
}
.border-google{
  padding:2px;
  border-top:2px solid red;
  border-bottom:2px solid green;
  border-right:2px solid blue;
  border-left:2px solid rgb(235, 200, 6);
}